<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignment List</title>
</head>
<body>
<h1>Assignments</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Progress</th>
        <th>Tasks</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignment : ${assignments}">
        <td th:text="${assignment.title}"></td>
        <td th:text="${assignment.description}"></td>
        <td th:text="${assignment.progress + '%'}"></td>
        <td>
            <ul>
                <li th:each="task : ${assignment.tasks}" th:text="${task.title}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{'/assignments/edit/' + ${assignment.assignmentId}}">Edit</a>
            <a th:href="@{'/assignments/delete/' + ${assignment.assignmentId}}">Delete</a>
            <a th:href="@{'/assignments/view/' + ${assignment.assignmentId}}">View</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/assignments/create">Create New Assignment</a>
</body>
</html>
